<launch>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false" />
  <arg name="debug" default="false" />
  <arg name="paused" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gail)/worlds/demo.world"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="use_sim_time" value="true" />
  </include>

  <include file="$(find ur_gazebo)/launch/ur10.launch">
    <arg name="limited" default="false"  doc="If true, limits joint range [-PI, PI] on all joints." />
    <arg name="paused" default="$(arg paused)" doc="Starts gazebo in paused mode" />
    <arg name="gui" default="$(arg gui)" doc="Starts gazebo gui" />
  </include>

  <include file="$(find ur10_moveit_config)/launch/ur10_moveit_planning_execution.launch">
    <arg name="sim" default="true"/>
  </include>

  <!-- 
  <include file="$(find ur10_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" default="true"/>
  </include>
  -->

  <!-- 
  <node name="spawn_table_models" pkg="main" type="spawn_table_models.py"/>
  <node name="teleop_cup_server" pkg="main" type="teleop_cup_server.py" output="screen"/>
  <node name="teleop_cup_server_fake" pkg="main" type="teleop_cup_server_fake.py" output="screen"/>
  -->
</launch>

